<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FoodSeeker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>379A4CCA1DA2BFF30055D144</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>379A4CE11DA2BFF30055D144</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>379A4CEC1DA2BFF40055D144</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
